.single-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 241, 255);
    margin: 10px;
    width: 80vw;
    padding: 14px;
}

.createPostContainer{
    display: flex;
    justify-content: center;

}
.search-container{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.searchTerm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}
.createNewPost{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
}

.cardContainer{
    display: flex;
    justify-content: center;
    
}

.post-title{
    display: flex;
    justify-content: center;
}