.App{
    min-height: 100vh;
}
.main-logo{
    width: 200px;
    height: 173px;
}
.logo{
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
}
.App a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
   font-size: 22px; 
   
}
.main-nav{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;

}
a:hover{
    color: rgb(40, 65, 42);
    font-size: 25px;
    transition: all .4s ease-in-out;
    
}
.fixed-footer{
    display: flex;
    justify-content: center;
    padding: 10px;
    top: 100%;
    position: sticky;
    { color: rgba(0,0,0,.7); text-shadow: 0 1px rgba(255, 255, 255, 0.1);}
}